html, body {
    height: 100%;
}


body {
    text-align: center;
    min-height: 100vh; 
    margin: 0;     
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0;
  }

.home-page {
    text-align: center;
}


.btn {
    background-color: rgb(71, 49, 133);
    border-color: rgb(71, 49, 133);
}


header {
    background-color: #f8f9fa;
    display: flex;
    padding-top: 10px;
}


nav {
    padding-top: 15px;
}


h1 {
    text-align: left;
}


ul {
    list-style-type: none;
}


li {
    display: inline-block;
    margin-left: 20px;
}


img {
    width: 40%;
    padding: 20px;
}


.welcome {
    background-color: #e2e3e5;
    width: 99%;
    margin: 30px auto;
    padding-top: 15px;
    padding-bottom: 30px;
}


.nomfoot {
    padding-bottom: 5px;
    margin-bottom: 16px;
}

footer{
    width: 100%; 
    min-height:50px; 
  }